In [3]:
import pandas as pd
import os
print(os.getcwd())  # Shows your current working directory

/home/addy/AIML-projects/eSahaayak-NWR

In [4]:
data = pd.read_excel("Hq office HRMS data.xlsx")

In [5]:
data.head()

   S.No HRMS ID                    Name
0     1  DWYYKX          KASHIRAM MEENA
1     2  YBCWFU       RAM SWAROOP JATAV
2     3  AFFXPG  RAJENDRA KUMAR JAJORIA
3     4  DPJXFL      SAMIT PRATAP SINGH
4     5  BLWBPF        OM PRAKASH MEENA

In [6]:
data.shape

(1553, 3)

In [7]:
import pandas as pd

# Load the Excel file
df = pd.read_excel("Hq office HRMS data.xlsx", sheet_name=None)  # Load all sheets

# Initialize empty list to collect HRMS IDs
hrms_ids = []

# Iterate over each sheet and extract 'HRMS ID' column if it exists
for sheet_name, data in df.items():
    if 'HRMS ID' in data.columns:
        ids = data['HRMS ID'].dropna().astype(str).tolist()
        hrms_ids.extend(ids)

# Remove duplicates
hrms_ids = list(set(hrms_ids))

# Save to CSV
hrms_df = pd.DataFrame({"HRMS ID": hrms_ids})
hrms_df.to_csv("hrms_ids.csv", index=False)

print("✅ HRMS IDs saved to 'hrms_ids.csv'")

✅ HRMS IDs saved to 'hrms_ids.csv'